IO_LOC "CLK_27M" 4;       // crystal 27Mhz
IO_PORT "CLK_27M" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

/*IO_LOC "clk_in1" 10;      //5351 out1 (Will they be in Phase?)
IO_PORT "clk_in1" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "clk_in1" 11;      //5351 out2 (Will they be in Phase?)
IO_PORT "clk_in1" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "clk_in1" 13;      //5351 out3 (Will they be in Phase?)
IO_PORT "clk_in1" IO_TYPE=LVCMOS33 PULL_MODE=NONE;*/

IO_LOC "BTN_RES" 88;
IO_PORT "BTN_RES" PULL_MODE=DOWN;

// HDMI
IO_LOC "tmds_clk_p" 33;
IO_PORT "tmds_clk_p" PULL_MODE=NONE;
IO_LOC "tmds_clk_n" 34;
IO_PORT "tmds_clk_n" PULL_MODE=NONE;
IO_LOC "tmds_d_p[0]" 35;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE;
IO_LOC "tmds_d_n[0]" 36;
IO_PORT "tmds_d_n[0]" PULL_MODE=NONE;
IO_LOC "tmds_d_p[1]" 37;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE;
IO_LOC "tmds_d_n[1]" 38;
IO_PORT "tmds_d_n[1]" PULL_MODE=NONE;
IO_LOC "tmds_d_p[2]" 39;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE;
IO_LOC "tmds_d_n[2]" 40;
IO_PORT "tmds_d_n[2]" PULL_MODE=NONE;

// SDCard
IO_LOC "SD_CK" 83;
IO_PORT "SD_CK" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "SD_DO" 82;        // MOSI
IO_PORT "SD_DO" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "SD_DI" 84;        // MISO
IO_PORT "SD_DI" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "SD_nCS" 81;       // CSn
IO_PORT "SD_nCS" PULL_MODE=NONE IO_TYPE=LVCMOS33;

// UART through USB-C port
IO_LOC "UART_RXD" 70;
IO_LOC "UART_TXD" 69;
IO_PORT "UART_RXD" IO_TYPE=LVCMOS33;
IO_PORT "UART_TXD" IO_TYPE=LVCMOS33;

// 2 LEDs for debug
IO_LOC "LED[4]" 19;
IO_PORT "LED[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[3]" 18;
IO_PORT "LED[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[2]" 17;
IO_PORT "LED[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[1]" 16;
IO_PORT "LED[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[0]" 15;
IO_PORT "LED[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

//PS2
IO_LOC "PS2CLKA" 25
IO_PORT "PS2CLKA" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PS2DATA" 29
IO_PORT "PS2DATA" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PS2CLKB" 30
IO_PORT "PS2CLKB" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PS2DATB" 31
IO_PORT "PS2DATB" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;